.stopwatch__container{
  background-color: white;
  display: grid;
  place-items: center;
}
.stopwatch__container>h2{
  font-size: 3rem;
}
.formatTimer__container>span{
  font-size: 2.5rem;
}
.btns__container{
  margin: 20px 0;
}
.pause-resume-btn,
.laps__container{
  display: flex;
}
.laps__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.laps{
  display: flex;
  align-items: center;
}
.laps>span{
  font-size: 2rem;
  margin: 10px;
  display: inline-block;
}
button{
  width: 80px;
  height: 40px;
  margin: 0 20px !important;
}